{% extends 'base.html' %}

{% block head %}
<title>Update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Showtime </h1>

    <form action="/update/{{showtime.id_s}}" method="POST">
        <label>{{showtime.movie_name}}</label><br><br>
        <label>{{showtime.id_m}}</label><br><br>
        <input type="text" name="datetime" id="datetime" placeholder="Datetime" value="{{showtime.datetime}}"><br><br>
        <input type="text" name="seats_available" id="seats_available" placeholder="Seats available" value="{{showtime.seats_available}}"><br><br>
        <input type="submit" value="Update Showtime">
    </form>
</div>
{% endblock %}